.related-products-container {
    background-color: transparent;
    padding: 50px 0;
}

.related-products-container .container {
    max-width: 1140px;
    margin: 0 auto;
}

.related-products-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #333;
}

.owl-carousel .owl-stage-outer {
    overflow: hidden;
    background-color: transparent;
}

.owl-carousel .owl-stage {
    display: flex;
    flex-wrap: nowrap;
}

.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    padding: 0 15px; /* زيادة المسافة بين الكاردات */
}

.owl-carousel .item {
    padding: 15px;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.owl-carousel .item img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 5px;
}

.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.owl-nav button {
    background: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.owl-nav button:hover {
    background: #555;
}

.owl-dots {
    text-align: center;
    margin-top: 15px;
}

.owl-dots .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.owl-dots .owl-dot.active {
    background: #333;
}
.quantity-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
}

.quantity-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
