/*
*
* Responsive unit
* --------------------------------------------------
*/


@include unit-responsive(30px, 20px);

// Unit Spacing
//

.unit-spacing-icon {
  @include unit-spacing(12px, 10px);
}

.unit-spacing-icon-2 {
  @include unit-spacing(24px, 10px);
}

.unit-spacing-icon-3 {
  @include unit-spacing(4px, 10px);
}

.unit-spacing-grid {
  @include unit-spacing(30px, 25px);
}

.unit-spacing-xs {
  @include unit-spacing(7px, 10px);
}

.unit-spacing-sm {
  @include unit-spacing(15px, 10px);
}

.unit-spacing-md {
  @include unit-spacing(15px, 7px);
}

.unit-spacing-lg {
  @include unit-spacing(20px, 10px);
}

.unit-box-comment {
  @include unit-spacing(60px, 10px);
}

.unit-spacing-vertical-0  {
  @include unit-spacing(0px, 15px);
}

.inset-sm-inverse-25.unit {
  @include media-breakpoint-down(sm) {
    > .unit-body {
      padding-top: 25px;
    }

    > .unit-body + .unit-right {
      padding-top: 0;
    }
  }
}

.unit {
  img {
    width: 100%;
  }
}

.unit-sm-row,
.unit-sm-row.unit-sm-horizontal {
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
}

.unit-middle {
  align-items: center;
}