//
   Created by ragnar on 9/4/2018.

.col-xl-4.col-lg-5.text-center.text-md-start
  a(href="#").button.button-primary Book this service
    include ../elements/_arrow-down

.col-xl-4.col-lg-5.text-center.text-md-start
  .unit.align-items-center.unit-spacing-icon-3.flex-row
    .unit-left
      span.icon-gray-dark.icon-54.fl-great-icon-set-mobile226

    .unit-body
      h6 Have any questions?
      h3: a(href='tel:#').tel
        | 1
        =' '
        span (800)
        =' '
        | 123 1234