extends  ../_skeleton

include   ../elements/_countdown

block variables
	- var pageName = 'Coming soon'

block page
	// Page Header
	include ../sections/_header-default
	+breadcrumbs-section({ img: 'breadcrumbs-team-1920x974' })

	section.section-md.bg-default
		.container
			.row.row-30.row-md-50.justify-content-start
				.col-sm-12
					h2=pageName

				.col-xl-9.col-lg-11.col-sm-12
					// TimeCircles
					+countdown({ to: '2022-12-31' })

				.col-xl-8.col-lg-10
					.group-between
						// RD Mailform
						form.rd-mailform.rd-mailform-inline.text-start(data-form-output="form-output-global", data-form-type='forms', method='post', action='bat/rd-mailform.php')
							.form-wrap
								label.form-label(for="inline-email") Enter your email
								input#inline-email.form-input(type="email" name="email" data-constraints="@Email @Required")
							.form-button.text-center.text-sm-end
								button(type="submit").button.button-primary Notify me
									include ../elements/_arrow-down

	// Page Footer
	include ../sections/_footer-default