extends  ../_skeleton

//- Includes

block variables
	- var pageName = 'Services'

block page
	// Page Header
	include ../sections/_header-default
	+breadcrumbs-section({ img: 'breadcrumbs-team-1920x974' })

	section.section-md.bg-default.text-start
		.container
			// Bootstrap tabs
			#tabs-3.tabs-custom.tabs-services.tabs-vertical
				// Nav tabs
				ul.nav.nav-custom.nav-custom-tabs.group-tabs
					li.nav-item: a.nav-link(href='#tabs-3-1' data-bs-toggle='tab') Lawn & Bed Maintenance
						include ../elements/_arrow-down
					li.nav-item: a.nav-link(href='#tabs-3-2' data-bs-toggle='tab') Landscape / Hardscape
						include ../elements/_arrow-down
					li.nav-item: a.nav-link(href='#tabs-3-3' data-bs-toggle='tab') Pest, Weed, & Fertilization
						include ../elements/_arrow-down
					li.nav-item: a.nav-link(href='#tabs-3-4' data-bs-toggle='tab') Outdoor Lighting
						include ../elements/_arrow-down
					li.nav-item: a.nav-link(href='#tabs-3-5' data-bs-toggle='tab') Snow & ice management
						include ../elements/_arrow-down
					li.nav-item: a.nav-link(href='#tabs-3-6' data-bs-toggle='tab') Irrigation
						include ../elements/_arrow-down

				//- Tab panes
				.tab-content.text-start
					div#tabs-3-1.tab-pane.fade.counter-index-sec
						.inset-right-lg-150
							h2 Lawn & Bed Maintenance
							p.big.text-width-large The Beautiful Lawn offers different programs for our ground care maintenance services, including:
							h3.counter-index-item
								span.counter-wrap
								| Organic Lawn Care

							p Organic fertilizer helps offset the disadvantages of traditional fertilizer by increasing diversity in the soil, creating a healthier, stronger lawn. It does this because organic fertilizer is made from natural plant, animal, and mineral sources. As a result, it provides long-term value.
							ul.list.list-marked.list-gray-dark.list-bold
								li Better drainage
								li Minimizes erosion
								li Requires less mowing
								li Safer for people and animals
								li Creates long-lasting soil health
								li Soil builds immunity to pests and diseases

							h3.counter-index-item
								span.counter-wrap
								| Hybrid Lawn Care

							p Our hybrid lawn care program provides the environmental benefits of organic fertilizer with the weed-killing capability of traditional fertilizer. It is both cost-effective in the short and long run.
							ul.list.list-marked.list-gray-dark.list-bold
								li Safe for people and animals
								li Helps promote long-term soil health
								li Makes lawn more resilient to drought
								li Creates a few of soil microorganisms
								li Requires less frequent mowing and upkeep
								li Traditional fertilizer will help stop weed growth

							h3.counter-index-item
								span.counter-wrap
								| Traditional Lawn Care

							p Traditional lawn care has the fast results and short-term appearance improvement you need. While organic fertilizers release nutrients slowly over time, traditional lawn care provides quick-release soil nutrients at a more affordable price. However, traditional lawn care may require more soil upkeep.
							ul.list.list-marked.list-gray-dark.list-bold
								li More affordable
								li Typically delivers faster results
								li Depletes micro-organisms in the soil
								li Requires moderation, or soil will be damaged
								li Not as safe for people and animals

						.row.row-30
							include ../elements/_services-bottom-panel


					div#tabs-3-2.tab-pane.fade
						h2.text-width-800 Landscape / Hardscape Services for Commercial Locations
						h3 Year-Round Beauty for Schools, Hospitals, Banks, & More!
						p.big Any experienced business owner can explain the value of curb appeal. How your commercial space looks can make or break a business. While we have all seen poor landscaping before, few of us realize the power of a beautiful, vibrant, and rich landscape design until we enjoy one personally. That is the service that we offer to commercial clients throughout the country—a lush, attractive landscape that can be a source of pride for any business manager.

						h3 Hardscape for Commercial Properties
						p.big Hardscaping, put simply, is the use of stones or inorganic materials in a landscape design. For example, a granite-step walkway would be an example of a hardscape element. Hardscaping is unique from landscaping in that it is not growing or seasonal, but it is still a vital part of a healthy landscape. Hardscaping adds a powerful new dimension to any landscape design. Our knowledgeable stonemasons work with our landscape design specialists to provide diverse forms of lawn care splendor.

						.row.row-30
							.col-lg-6
								p More examples of effective hardscaping include:
								ul.list.list-marked.list-gray-dark.list-big.list-bold
									li Stone pathways
									li Walls
									li Patios
									li Staircases
									li Stone slabs
									li Stepping stones
									li Permeable pavers
									li Reinforced turf

							.col-lg-6
								p In contrast, softscape is made of all the organic parts of a landscape, which includes:
								ul.list.list-marked.list-gray-dark.list-big.list-bold
									li Garden beds
									li Shrubs
									li Flowers
									li Trees
									li Grass
									li Soil/turf

							include ../elements/_services-bottom-panel

					div#tabs-3-3.tab-pane.fade.counter-index-sec
						h2 Commercial Pest, Weed & Fertilization
						p.big Maintaining beauty on a commercial property year-round requires a level of detail and expertise that requires a professional’s insight. When it comes to expertise businesses can depend on, The Beautiful Lawn is the most trusted name in commercial lawn care and landscaping services. We provide for commercial properties throughout Canada, including schools, hospitals, and shopping centres.
						.row.row-30
							.col-lg-6
								h3.counter-index-item
									span.counter-wrap
									| Organic Lawn Care
								ul.list.list-marked.list-bold
									li Creates efficient soil drainage
									li Minimizes erosion of the turf
									li Requires less frequent upkeep
									li Promotes growth of soil microorganisms
									li Safer for people and animals
									li Promotes soil resilience

							.col-lg-6
								h3.counter-index-item
									span.counter-wrap
									| Hybrid Lawn Care
								ul.list.list-marked.list-bold
									li Safe for people and animals
									li Helps the soil stay healthier for longer
									li Builds drought-resistant plant life
									li Requires less frequent mowing and trimming
									li Traditional fertilizer will help prevent weeds

							.col-lg-6
								h3.counter-index-item
									span.counter-wrap
									| Traditional Lawn Care
								ul.list.list-marked.list-bold
									li Often costs less than natural fertilizer
									li Can deliver quicker results
									li Is better for moderate use/growth
									li Not as safe for people and animals

						h6.fw-bold Our Different Landscaping Schedule Packages
						.row.row-30.row-xxs
							.col-lg-6
								p The central part of our’ values is our commitment to our clients. You come first—always. Each of our packages creates beautiful, lush landscapes that bring out the best in your business’ appearance. We prevent the growth of weeds and the annoyance of pests as well while using safe measures that result in a healthier property.

							.col-lg-6
								p Our team of landscape specialists recognizes that different properties have different needs, so we have custom maintenance packages for various clients. Our team of landscape specialists recognizes that different properties have different needs, so we have custom maintenance packages for various clients.

						.row.row-30
							include ../elements/_services-bottom-panel

					div#tabs-3-4.tab-pane.fade
						h2 Outdoor Lighting Services for Commercial Properties
						.row.row-30.row-sm
							.col-lg-6
								p.big Outdoor lighting can impact the appearance of a property in profound ways. The right lighting can make your landscape look cohesive, clean, and attractive. Good lighting can mean the difference between an inviting location and a shoddy, dangerous-looking one.

							.col-lg-6
								p.big We provide comprehensive outdoor lighting services to businesses and companies, including banks, hotels, schools, and hospitals. Our lighting solutions are elegant and efficient, offering beautiful designs that suit your specific needs.

						h6.fw-bold.text-gray Comprehensive Lighting Services for All Outdoor Needs.
						h6.fw-bold.text-gray Our lighting service programs include:

						.row.row-30
							.col-lg-6
								ul.list.list-marked.list-gray-dark.list-bold
									li Replacing all bulbs
									li Installing holiday lighting
									li Handling all light timer concerns
									li Managing all electrical connections

							.col-lg-6
								ul.list.list-marked.list-gray-dark.list-bold
									li Installing/maintaining fixtures
									li Adjusting lighting in landscape design
									li Ensuring plants and lights are safely separated
									li Repairing/burying below-ground wiring

							include ../elements/_services-bottom-panel

					div#tabs-3-5.tab-pane.fade.counter-index-sec
						h2 Commercial Snow & Ice Removal Services
						h3 Maintaining Your Property’s Safety & Beauty in Winter
						p.big The winter often brings with it a whole slew of concerns. However, The Beautiful Lawn is not just devoted to your lawn care—we are devoted to maintaining your peace of mind throughout the year. That’s why we offer snow and ice management for your commercial location during rough weather.

						.row.row-30
							.col-lg-6
								h6.fw-bold.counter-index-item
									span.counter-wrap
									| Property Assessment
								p Before winter has hit you hardest, our team will already be hard at work evaluating the grounds for effective cold weather preparation. We take into account any physical elements such as curbs, fire hydrants, hardscape, and more. When we return to clear away ice and snow, our team will be able to provide professional, precise, and efficient cleaning service.

							.col-lg-6
								h6.fw-bold.counter-index-item
									span.counter-wrap
									| Tailored Calibration
								p When our team works on your property, we measure and record all the particular needs of your land. We measure dew points, monitor asphalt temperatures, and prepare in every way for all the obstacles that winter brings. When The Beautiful Lawn prepares your property for snow and ice, you can have total peace of mind about the state of your commercial location.

							.col-lg-6
								h6.fw-bold.counter-index-item
									span.counter-wrap
									| State-of-the-Art Equipment
								p Our team’s equipment is cutting-edge and extremely precise. We utilize the highest-level technology to ensure that we are serving your company in the most effective way possible. Our GPS tracking equipment for each of our vehicles also ensures we arrive at your property when you need us most.

							.col-lg-6
								h6.fw-bold.counter-index-item
									span.counter-wrap
									| Meteorological Tracking
								p To ensure we are serving you effectively and quickly, we monitor the weather. This allows us to remain aware of when you will most require service, and how we will need to prepare your property.

							include ../elements/_services-bottom-panel

					div#tabs-3-6.tab-pane.fade
						h2 Commercial Irrigation Services
						h3 Ensure the Beauty and Vitality of Your Business's Landscape
						p.big The most basic way of ensuring your lawn looks strong, healthy, and lush year-round is having an effective irrigation system. Advanced irrigation keeps your soil well-nurtured while using precious resources responsibly. We offer powerful irrigation solutions for corporate locations to enable beautiful landscape designs from world-class grounds care specialists.
						h6.fw-bold We Build Irrigation Systems for Various Companies.
						h6.fw-bold Our irrigation systems include advanced benefits, such as:
						ul.list.list-marked.list-big.list-bold
							li Sustainable design for long-term usage
							li Effective water conservation
							li Prevents excessive water runoff
							li Drains water properly
							li Optimized for lawn growth
							li Custom design for every location
							li Efficient dispensation of water

						h3 Schedule an Appointment with Us Today!
						.row.row-30.row-xxs
							.col-lg-6
								p Our mission is to exceed your expectations with our service—in fact, our code of values is based entirely on putting our clients first. From our first phone call with you to the cleanup process of every project, we aim to blow you away with the quality of our service.

							.col-lg-6
								p That’s why we are the most trusted name in commercial landscaping and irrigation! With 250 locations in North America, our team is never too far to bring health and vibrancy to your property.

							include ../elements/_services-bottom-panel

	// Page Footer
	include ../sections/_footer-default