-
	var
		htmlClass = "wide wow-animation",
		fonts = "//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:400,400i,700",
		config = {
			brandName: 'Beautiful lawn',
			logoDefault: 'logo-default-228x39.png',
			logoGray: 'logo-var2-175x41.png',
			logoGray2: 'logo-var3-227x40.png'
		},

		menu = [
			{
				title: 'Home',
				link: 'index.html',
			},
			{
				title: 'About us',
				link: '#',
				dropdown: [
					{ title: 'About us' },
					{ title: 'Careers' },
					{ title: 'FAQ' },
					{ title: 'Team' },
					{ title: 'Testimonials' }
				]
			},

			{ title: 'Services'	},
			{ title: 'Booking'	},
			{
				title: 'Blog',
				link: '#',
				dropdown: [
					{ title: 'Blog' },
					{ title: 'Single post' }
				]
			},
			{
				title: 'Shop',
				link: '#',
				dropdown: [
					{ title: 'Shop' },
					{ title: 'Category' },
					{ title: 'Product page' },
					{ title: 'Shopping cart' },
					{ title: 'Checkout' }
				]
			},
			{
				title: 'Contacts',
			},
			{
				title: 'Pages',
				link: '#',
				megamenu: [
					{
						title: 'Layouts',
						link: null,
						list: [
							{ title: 'Home classic' },
							{ title: 'Home modern' },
							{ title: 'Home creative' }
						]
					},
					{
						title: 'Gallery',
						link: null,
						list: [
							{	title: 'Gallery' },
							{	title: 'Fullwidth gallery' },
							{ title: 'Gallery 2 column' }
						]
					},
					{
						title: 'Pages',
						link: null,
						list: [
							{ title: '404' },
							{ title: '503' },
							{ title: 'Coming Soon' },
							{ title: 'Maintenance' },
							{ title: 'Site map' },
							{ title: 'Search results' },
							{ title: 'Privacy policy' }
						]
					},
					{
						title: 'Elements',
						link: null,
						list: [
							{ title: 'Buttons' },
							{ title: 'Forms' },
							{ title: 'Grid' },
							{ title: 'Progress bars' },
							{ title: 'Tables' },
							{ title: 'Tabs & accordions' },
							{ title: 'Typography' }
						]
					}
				]
			}
		],

		// Predefined variables
		breadcrumbs = [],
		pageName = 'Home',
		pageClass = ''